<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert Recipe</title>
     <style>
        .btnsize {
            width: 40px;
        }

        .itm {
            width: 25%;
        }
        .c-label{
            width: 70%;
        }
    </style>

</head>
<body>
{% extends 'HomePage.html' %}
{% load static %}
{% block content %}
   <div class="row">
        <div class="col-lg-6 offset-3">
            <div class="box-element" id="form-wrapper">
                <form id="form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                    <div id="recipe-info">
                        <h4 style="text-align: center">RECIPE INFORMATION</h4>
                        <div class="form-field">
                            <input class="form-control" type="text" name="heading" placeholder=" Enter Heading..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="subheading" placeholder="Enter Subheading..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="file" name="picture" placeholder="Add Picture..">

                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="difficulty" placeholder="Enter Difficulty Level..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="total_time" placeholder="Enter Total Time..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="allergens" placeholder="Enter Allergens..">
                        </div>
                         <div class="form-field">
                            <input class="form-control" type="text" name="tags" placeholder="Enter Tags..">
                        </div>
                         <div class="form-field">
                            <input class="form-control" type="text" name="price" placeholder="Enter Price..">
                        </div>
                         <div class="form-field">
                             <label for="desc"></label>
                             <textarea id="desc" class="form-field" name="desc" rows="4" cols="50" placeholder="Enter Description..">
                             </textarea>
                        </div>
                        <br>
                    </div>
                     <div id="nutri">
                        <h4 style="text-align: center">NUTRITION CHART</h4>
                        <div class="form-field">
                            <input class="form-control" type="text" name="energy" placeholder=" Energy..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="calories" placeholder="Calories..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="fat" placeholder="Fat..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="saturated_fat" placeholder="Saturated Fat..">
                        </div>
                         <div class="form-field">
                            <input class="form-control" type="text" name="carbs" placeholder="Carbs..">
                        </div>
                        <div class="form-field">
                            <input class="form-control" type="text" name="sugar" placeholder="Sugar..">
                        </div>
                         <div class="form-field">
                            <input class="form-control" type="text" name="fiber" placeholder="Fiber..">
                        </div>
                         <div class="form-field">
                            <input class="form-control" type="text" name="protein" placeholder="Protein..">
                        </div>
                         <div class="form-field">
                            <input class="form-control" type="text" name="cholesterol" placeholder="Cholesterol..">
                        </div>
                         <div class="form-field">
                            <input class="form-control" type="text" name="sodium" placeholder="Sodium..">
                        </div>

                        <br>
                    </div>


         <div class="col-lg-12">

                <h4>Pick A Menu: </h4>
                <hr>
                <div style="width: 100%" class="btn-group" role="group" aria-label="">
                    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-4" style="width: 100%">
                        {% for menu in menus %}
                        <div class="itm">
                            <input type="radio" class="" name="radio-menu" id="{{ menu.name }}"
                                   autocomplete="off" value="{{ menu.name }}">
                            <label class="btn btn-outline-primary c-label" for="{{ ingredient.name }}">{{ menu.name }}</label>
                        </div>
                         {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-12">

                <h4>Enter Ingredients: </h4>
                <hr>
                <div style="width: 100%" class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-4" style="width: 100%">
                        {% for ingredient in ingredients %}
                        <div class="itm">
                            <input type="checkbox" class="btn-check" name="add-recipe" id="{{ ingredient.name }}"
                                   autocomplete="off" value="{{ ingredient.name }}">
                            <label class="btn btn-outline-primary  c-label" for="{{ ingredient.name }}">{{ ingredient.name }}</label>
                        </div>
                         {% endfor %}
                    </div>
                </div>
            </div>


             <div class="col-lg-12">

                <h4>Enter Not Included: </h4>
                <hr>
                <div style="width: 100%" class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-4" style="width: 100%">
                        {% for notIn in notIncl %}
                        <div class="itm">
                            <input type="checkbox" class="btn-check  " name="add-not" id="{{ notIn.name }}"
                                   autocomplete="off" value="{{ notIn.name }}">
                            <label class="btn btn-outline-primary  c-label" for="{{ notIn.name }}">{{ notIn.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
            </div>
             </div>
                    <div style="display: none">
                        <input name="hid-menu" id="hid-menu" type="text">
                        <input name="hid-ingredient" id="hid-ingredient" type="text">
                        <input name="hid-not" id="hid-not" type="text">

                    </div>
                   <br>
                                <button id="form-button" class="btn btn-success btn-block" type="submit"> Save Meal </button>
                </form>
            </div>
        </div>
   </div>


    <script>
    console.log("Kopan")
    let menu =""
    let array_reci =[]
    let array_not =[]
    hidd_menu = document.getElementById('hid-menu')
    hidd_ingredient = document.getElementById('hid-ingredient')
    hidd_not = document.getElementById('hid-not')

    let selectedMenus = document.querySelectorAll('input[name="radio-menu"]');
    console.log(selectedMenus);

    for(let i=0; i<selectedMenus.length;i++){
        selectedMenus[i].addEventListener('click',function (){
            {#console.log(selectedMenus[i].value)#}
            hidd_menu.value=selectedMenus[i].value
            console.log(hidd_menu.value)
        })
    }

    let selectedRecipe = document.querySelectorAll('input[name="add-recipe"]');
     console.log(selectedRecipe);

    for(let i=0; i<selectedRecipe.length;i++){
        selectedRecipe[i].addEventListener('click',function (){
            console.log(selectedRecipe[i])
            let tmp = selectedRecipe[i].value

            if( array_reci.hasOwnProperty(tmp)){
                delete array_reci[tmp]
            }else{
                array_reci[tmp]=tmp
            }
            str = ''
            for (let el in array_reci){
                str+=array_reci[el]+","
            }
            str=str.slice(0,-1)
            hidd_ingredient.value = str
            console.log(hidd_ingredient.value)


            })
    }


    let selectedNots = document.querySelectorAll('input[name="add-not"]');

    for(let i=0; i<selectedNots.length;i++) {
        selectedNots[i].addEventListener('click', function () {
            let tmp = selectedNots[i].value

            if (array_not.hasOwnProperty(tmp)) {
                delete array_not[tmp]
            } else {
                array_not[tmp] = tmp
            }
            str = ''
            for (let el in array_not) {
                str += array_not[el] + ","
            }
            str = str.slice(0, -1)
            hidd_not.value = str
            console.log(hidd_not.value)
        })
    }


    </script>


{% endblock content %}
</body>
</html>